.nav1{
  
  background-color: rgb(69, 212, 77);
}

.nav-links a {
  
  text-decoration: none;
  color: rgb(250, 249, 250);
  font-size: 30px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(183, 85, 99);   /* hover color */
}
